{{define "footer"}}
<div class="container-footer">
  <div class="container-top">
    <div class="container-contact">
      <div class="text-contact-us">Contact us</div>
      <div class="contact">
        <div class="container-name">
          <div class="contactext">Alexandre BUDAN</div>
          <a href="https://www.instagram.com/al3x.bdn/" target="_blank"
            ><img src="/static/img/insta.svg" alt="instagram" class="insta"
          /></a>
        </div>
        <div class="container-name">
          <div class="contactext">Emma PICARD</div>
          <a href="https://www.instagram.com/emma.pcrd6/" target="_blank"
            ><img src="/static/img/insta.svg" alt="instagram" class="insta"
          /></a>
        </div>
        <div class="container-name">
          <div class="contactext">Vincent MAGNIEN</div>
          <a href="https://www.instagram.com/vincmgn/" target="_blank"
            ><img src="/static/img/insta.svg" alt="instagram" class="insta"
          /></a>
        </div>
      </div>
    </div>
    <div class="spacebar">
      <div class="bar"></div>
    </div>
    <div class="container-button-connection">
      <form action="/login">
        <button class="connection" type="submit">Connection</button>
      </form>
    </div>
  </div>
  <div class="copyright">Copyright © 2023 GAVE, all rights reserved.</div>
</div>
{{end}}
