{{define "header"}}

<div class="container-header">
  <div class="header">
    <a href="/artists" class="links">
      <img src="/static/img/mic.svg" alt="Mic" class="mic" />
      <div class="link">Artists</div>
    </a>
    <a href="/map" class="links">
      <img src="/static/img/pins.svg" alt="Map" class="pins" />
      <div class="link">Map</div>
    </a>
    <div class="space"></div>
    <a href="/login" class="links">
      <img src="/static/img/profil.svg" alt="Profil" class="profil" />
      <div class="link">Profil</div>
    </a>
    <a href="/informations" class="links">
      <img src="/static/img/people.svg" alt="About us" class="people" />
      <div class="link">About us</div>
    </a>
  </div>
  <div class="container-logo">
    <a href="/">
      <img src="/static/img/LOGO GAVE DESKTOP.png" alt="GAVE" class="logo" />
    </a>
  </div>
</div>

{{end}}
