body {
  height: 100%;
}
/*bar*/
.spacebar {
  margin-top: 100px;
  margin-left: 100px;
  margin-right: -570px;
  width: 20%;
  display: flex;
  justify-content: center;
}

.bar {
  height: 400px;
  width: 6px;
  background: #314a69;
  border-radius: 50px;
}
.all {
  display: flex;
  justify-content: space-evenly;
}
.profil {
  text-align: center;
}

.container-profil {
  margin-right: -200px;
  margin-top: 60px;
  flex-direction: column;
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 25px;
  display: flex;
}
.pseudo {
  text-align: center;
  font-size: 15px;
}
.connect {
  color: white;
  font-size: 15px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: center;
}
.inputspotify {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}
.input-pseudo {
  padding-left: 10px;
  margin-left: 30px;
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  border: none;
  width: 250px;
  height: 35px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  color: #ffffff;
  background-color: #314a69;
  cursor: pointer;
  /* border: 2px solid white; */
  cursor: pointer;
}
.input-pseudo-spotify {
  padding-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  border: none;
  width: 250px;
  height: 35px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  color: #ffffff;
  background-color: #314a69;
  cursor: pointer;
  /* border: 2px solid white; */
  cursor: pointer;
}
.input-email {
  padding-left: 10px;
  margin-left: 30px;
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  border: none;
  width: 250px;
  height: 35px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  color: #ffffff;
  background-color: #314a69;
  cursor: pointer;
}
.input-password {
  padding-left: 10px;
  margin-right: 5px;
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  border: none;
  width: 150px;
  height: 35px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  color: #ffffff;
  background-color: #314a69;
  cursor: pointer;
  /* border: 2px solid white; */
  cursor: pointer;
}
.input-chpassword {
  padding-left: 10px;
  margin-left: 5px;
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  border: none;
  width: 150px;
  height: 35px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  color: #ffffff;
  background-color: #314a69;
  cursor: pointer;
  /* border: 2px solid white; */
  cursor: pointer;
}
.email {
  text-align: center;
  font-size: 15px;
}
.option {
  text-align: center;
  font-size: 15px;
}
.input-pseudo::placeholder {
  text-align: center;
  font-size: 15px;
}
.input-pseudo-spotify::placeholder {
  text-align: center;
  font-size: 15px;
}
.input-email::placeholder {
  text-align: center;
  font-size: 15px;
}
.input-password::placeholder {
  text-align: center;
  font-size: 15px;
}
.input-chpassword::placeholder {
  text-align: center;
  font-size: 15px;
}
.contain-changepassword {
  margin-top: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.submit {
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  border: none;
  width: 340px;
  height: 30px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  color: #ffffff;
  background-color: #314a69;
  cursor: pointer;
}
.submitspotify {
  padding-left: 10px;
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  border: none;
  width: 260px;
  height: 35px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  color: #ffffff;
  background-color: #314a69;
  cursor: pointer;
  /* border: 2px solid white; */
  cursor: pointer;
}
.logout {
  margin-top: 30px;
  margin-left: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  border: none;
  width: 173px;
  height: 40px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  color: #ffffff;
  background-color: #630d0d;
  cursor: pointer;
}
.logout:hover {
  border: 2px solid white;
  cursor: pointer;
  background-color: #c54a4a;
}
.submit:hover {
  border: solid 1px white;
}
.submitspotify:hover {
  border: solid 1px white;
}
.changepassword {
  margin-top: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  border: none;
  width: 173px;
  height: 35px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 15px;
  color: #ffffff;
  background-color: #314a69;
  cursor: text;
}
.changepassword:hover {
  border: 2px solid white;
  cursor: text;
}
.liked-title {
  width: 100%;
  display: flex;
  justify-content: center;
}
.title {
  margin-left: 10px;
  text-align: center;
  font-size: 15px;
  color: white;
  font-family: "Inter", sans-serif;
}
.heart {
  transform: rotate(-25deg);
  margin-top: 15px;
  text-align: center;
  width: 20px;
  height: 20px;
}
.imglogo {
  width: 400px;
  margin-top: 100px;
  margin-left: 400px;
  display: flex;
  justify-content: center;
  height: 400px;
}

@media screen and (max-width: 1070px) {
  .logo {
    margin-left: 100px;
  }
}

@media screen and (max-width: 768px) {
  .logo {
    margin-left: 100px;
    width: 300px;
    height: 300px;
  }
  .contain-changepassword {
    margin-top: 5px;
  }
  .pseudo {
    margin-top: 5px;
  }
}

@media screen and (max-width: 426px) {
  .logo {
    margin-left: -380px;
    width: 350px;
    height: 350px;
  }
  .imglogo {
    width: 0;
  }
  .bar {
    display: none;
  }

  .all {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
  }
  .container-sign {
    margin-top: -100px;
    margin-left: -250px;
  }
  .container-profil {
    margin-top: -150px;
    margin-left: -200px;
  }
  .liked-title {
    margin-top: 50px;
  }
}
@media screen and (max-width: 400px) {
  .fix-margin-bottom {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 376px) {
  .logo {
    margin-left: -400px;
    width: 250px;
    height: 250px;
  }
  .imglogo {
    width: 0;
  }
  .container-sign {
    margin-top: -230px;
    margin-left: -250px;
  }
  .container-profil {
    margin-top: -250px;
  }
}
