.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.container-vinyle {
  margin: 50px;
  z-index: 1;
  background-image: url(/static/img/vinyle.svg);
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.container a {
  text-decoration: none;
}

.artist {
  font-family: "Inter", sans-serif;
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  color: white;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
}
.img-artist {
  border-radius: 150px;
  margin-top: 25px;
  cursor: pointer;
}

.heart-icon {
  height: 100px;
  width: 100px;
  background: url("/static/img/heart.png");
  background-position: left;
  cursor: pointer;
  position: relative;
  margin-left: 10px;
}

.heart-icon.liked {
  animation: like-anim 0.7s steps(28) forwards;
}

@keyframes like-anim {
  to {
    background-position: right;
  }
}

@media screen and (max-width: 1024px) {
  .container-vinyle {
    background-image: url(/static/img/vinyle-250.svg);
    width: 250px;
    height: 250px;
  }
  .img-artist {
    width: 140px;
    height: 140px;
    margin-top: 15px;
  }
  .artist {
    font-size: 16px;
  }
  .heart-icon {
    height: 65px;
    width: 65px;
    background: url("/static/img/heart-65.png");
    background-position: left;
    cursor: pointer;
    position: relative;
    margin-left: 10px;
  }
}

@media screen and (max-width: 810px) {
  .container-vinyle {
    background-image: url(/static/img/vinyle-200.svg);
    width: 200px;
    height: 200px;
  }
  .img-artist {
    width: 110px;
    height: 110px;
    margin-top: 8px;
  }
  .artist {
    font-size: 14px;
  }
}
@media screen and (max-width: 600px) {
  .container-vinyle {
    background-image: url(/static/img/vinyle-150.svg);
    width: 150px;
    height: 150px;
  }
  .img-artist {
    width: 80px;
    height: 80px;
    margin-top: 0;
  }
  .artist {
    font-size: 12px;
  }
  .heart {
    height: 15px;
    width: 15px;
  }
  .heart-icon {
    height: 45px;
    width: 40px;
    background: url("/static/img/heart-45.png");
    background-position: left;
    cursor: pointer;
    position: relative;
    margin-left: 1px;
  }
}
